@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="sql" name="源sql文" underline="true"/>
                            <#input id="statement" name="对源sql文的说明" underline="true"/>
                            <#input id="explanation" name="soar对sql文的解释"/>
                </div>

                <div class="col-sm-6">
                            <#input id="createUser" name="" underline="true"/>
                            <#input id="createDate" name="" underline="true"/>
                            <#input id="updateUser" name="" underline="true"/>
                            <#input id="updateDate" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SoarInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SoarInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/soar/soar/soar_info.js"></script>
@}
